<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
  /* string일경우 "userA"처럼 쌍따옴표를 같이 넣어줘야 하는데
  * 이렇게 하면 쌍따옴표 없이 userA로만 들어가서 script에러가 뜬다. */
  var username = [[${user.username}]];
  var age = [[${user.age}]];
  //자바스크립트 내추럴 템플릿
  var username2 = /*[[${user.username}]]*/ "test username";
  //객체
  /* 객체가 object 형식으로 저장 되는 게 아니고 user.toString() 값으로 저장된다.
  * BasicController.User(username=userA, age=10) */
  var user = [[${user}]];
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
  var username = [[${user.username}]];
  var age = [[${user.age}]];
  //자바스크립트 내추럴 템플릿
  /* 인라인 사용시 타임리프 렌더링을 할 경우 [[${user.username}]] 값이 출력된다.  */
  var username2 = /*[[${user.username}]]*/ "test username";
  //객체
  /* json 형식으로 마샬 해준다. */
  var user = [[${user}]];
</script>
</body>
</html>